.bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  font-size: 25px;
}

.first:hover, .second:hover, .third:hover, .fourth:hover, .fifth:hover  {
  font-weight : bold;
  padding-bottom:10px;
  border-bottom: 2px solid green;
}
